//colors
$white: #ffffff;
$light-grey: #f8f8f8;
$dark-grey: #858585;
$divider: #dedddc;
$title: #000040;
$background: #333333;
$body-bg: #304E57;
$body-color: #888888;
$modal-bg: #393C51;

$cool-blue: #0573A0;
$success: #006F00;

$imdb: #E6B91E;