.input-container {
    display: inline-block;
    margin-right: 24px;
    position: relative;
    width: 250px;

    .fa {
        color: $divider;
        position: absolute;
        right: 12px;
        top: 6px;

        &.fa-close:hover {
            cursor: pointer;
            color: $dark-grey;
        }
    }
}

input[type='text'] {
    border-radius: 5px;
    width: 100%;
    line-height: 18px;
    font-size: 12px;
    padding: 6px 30px 6px 6px;
    border: 1px solid $divider;
    outline: none;

    &:focus {
        border-color: $dark-grey;

        & ~ .fa {
            color: $dark-grey;
        }
    }
}