<div class="container filter-container">
  <app-search [dataService]="dataService"></app-search>
  <div style="float:right">
    <!-- <button type="button" class="btn btn-primary btn-sm" (click)="addNewMovie()">
      <i class="fa fa-plus"></i>
      Add Movie
    </button> -->
    <button class="view-option" 
      [ngClass]="{'active': showListView}"
      (click)="toggleView()">
        <i class="fa fa-list"></i>
    </button>
    <button class="view-option" 
      [ngClass]="{'active': !showListView}" 
      (click)="toggleView()">
        <i class="fa fa-th-large"></i>
    </button>
    <span class="h-space"></span>
    <button class="view-option add"
      (click)="openImdbModal()">
        <i class="fa fa-plus"></i>Add movie
    </button>
  </div>
</div>
<div class="container">
  <div class="movie-pagination-container">
    <div>
      <button *ngIf="dataService.hasPrevious" class="btn btn-link btn-sm" (click)="dataService.getPreviousItems()" type="button">
          <i class="fa fa-chevron-left"></i>&nbsp;Previous
      </button>
    </div>
    <div>
      <button *ngIf="dataService.hasNext" class="btn btn-link btn-sm" (click)="dataService.getNextItems()" type="button">
        Next&nbsp;<i class="fa fa-chevron-right"></i>
      </button>
    </div>
  </div>
  <div *ngIf="dataService.count <= 0" class="no-movies-found">
    <span>No movies found in your catalogue</span>
    <!-- <div class="movie-search-options">
      <button class="btn btn-primary btn-sm" type="button" (click)="openSearch()">Yes, search IMDB</button>
    </div> -->

    <!-- IMDB Movie Search results list -->
    <div *ngIf="imdbMovieSearchResults.length > 0" class="movie-container">
      <div class="movie-tile" *ngIf="showListView">
        <div class="movie-tile__container">
          <div class="movie-tile__details">
            <span class="title"><strong>Movie Title</strong></span>
            <span class="year"><strong>Year</strong></span>
          </div>
          <span class="movie-tile__link" (click)="openMovie(movie.imdbMovie)"></span>
        </div>
      </div>
      <div class="movie-tile" *ngFor="let movie of imdbMovieSearchResults">
        <div class="movie-tile__container">
          <div class="movie-tile__image-wrapper" [ngStyle]="{ 'background-image': 'url(' + movie.Poster + ')'}">
              <!-- <img [src]="movie.imdbMovie.Poster" alt="" /> -->
          </div>
          <div class="movie-tile__details">
            <span class="title">{{movie.Title}}</span>
            <span class="year">{{ movie.Year }}</span>
          </div>
          <span class="movie-tile__link hover-add" (click)="addNewMovie(movie.Title, movie.imdbID, movie.Year, movie.Poster)"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="movie-container" [ngClass]="{'list-view': showListView}">
    <div class="movie-tile" *ngIf="showListView">
      <div class="movie-tile__container">
        <div class="movie-tile__details">
          <span class="title"><strong>Movie Title</strong></span>
          <span class="year"><strong>Year</strong></span>
        </div>
        <span class="movie-tile__link" (click)="openMovie(movie.imdbMovie)"></span>
      </div>
    </div>
    <div class="movie-tile" *ngFor="let movie of movieList$ | async">
      <div class="movie-tile__container">
        <div class="movie-tile__image-wrapper" [ngStyle]="{ 'background-image': 'url(' + movie.poster + ')'}">
            <!-- <img [src]="movie.imdbMovie.Poster" alt="" /> -->
        </div>
        <div class="movie-tile__details">
          <span class="title">{{movie.title}}</span>
          <span class="year">{{ movie.year }}</span>
        </div>
        <span class="movie-tile__link" (click)="openMovie(movie.id, movie.imdbMovie)"></span>
      </div>
    </div>
  </div>
</div>

<div class="movie-modal" [ngClass]="{ 'show': showMovie }">
  <div class="overlay"></div>
  <div class="movie-modal__container">
    <i class="fa fa-close" (click)="closeModal()"></i>
    <div class="movie-modal__wrapper">
      <div class="movie-modal__image" [ngStyle]="{'background-image': 'url(' + selectedMovie.Poster + ')'}">
        <button type="button" (click)="removeMovie(selectedMovie.id)" class="btn btn-primary btn-sm">Remove movie</button>
      </div>
      <div class="movie-modal__content">
        <div class="movie-modal__title">{{ selectedMovie.Title }} <span class="movie-modal__title--year">({{ selectedMovie.Year }})</span></div>
        <div class="movie-modal__details">
          <div class="movie-modal__details--label">Director</div>
          <div class="movie-modal__details--value">{{ selectedMovie.Director }}</div>
        </div>
        <hr/>
        <div class="movie-modal__details">
          <div class="movie-modal__details--label">writer</div>
          <div class="movie-modal__details--value">{{ selectedMovie.Writer }}</div>
        </div>
        <hr/>
        <div class="movie-modal__details">
          <div class="movie-modal__details--label">Cast</div>
          <div class="movie-modal__details--value">{{ selectedMovie.Actors }}</div>
        </div>
        <hr/>
        <div class="movie-modal__details">
          <div class="movie-modal__details--label">Synopsis</div>
          <div class="movie-modal__details--value">{{ selectedMovie.Plot }}</div>
        </div>
        <div class="movie-modal__links">
          <span class="imdb">
            <a target="_blank" [href]="'http://www.imdb.com/title/' + selectedMovie.imdbID" title="Imdb">
              <i class="fa fa-imdb"></i>
            </a>
          </span>
          <span class="web" *ngIf="selectedMovie.Website !== 'N/A'">
            <a target="_blank" [href]="selectedMovie.Website" [title]="selectedMovie.Website">
              <i class="fa fa-globe"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-seach-imdb 
  [(showImdbSearch)]="showImdbSearch" 
  (close)="onCloseDialog()"
  (selectMovie)="addImdbMovie($event)"></app-seach-imdb>