@import '../styles/color.scss';

.view-option {
    margin: 0 6px;
    border-radius: 2px;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;

    &:not(:disabled):hover {
        border-color: $divider;
    }

    &.active {
        background-color: $cool-blue;

        .fa {
            color: $white;
        }
    }

    &.add {
        background-color: $success;
        color: $white;
        .fa {
            margin-right: 6px;
        }
    }
}

.movie-pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0;

    .btn-link {
        color: $body-color;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}

.no-movies-found {
    text-align: center;
    padding: 32px 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    .movie-search-options{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 12px;

        .btn { margin: 0 6px; }
    }
}

.filter-container {
    padding: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid $divider;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;

    &.list-view {
        display: flex;
        flex-direction: column;
        width: 50%;
        min-width: 500px;
        margin: 32px auto 0;

        .movie-tile {
            width: 100%;
            padding: 0px;

            &__image-wrapper {
                display: none;
            }

            &__details {
                display: flex;
                flex-direction: row;
                padding: 12px 6px;
                border-bottom: 1px solid $divider;
                text-align: left;

                span.year {
                    flex: 1;
                    text-align: right;
                }

                span.title {
                    font-weight: normal;
                    flex: 1;
                }
            }
            

            &:hover {
                background: $cool-blue;
                color: $white;
            }

            &:first-child {
                .movie-tile__details {
                    border-width: 2px;
                    border-top: 2px solid $divider;
                }
            }
        }
    }
}

.movie-tile {
    position: relative;
    min-width: 20%;
    width: 157px;
    padding: 6px;

    &__image-wrapper {
        height: 315px;
        background-size: cover;
    }

    &__details {
        display: none;
        flex-direction: column;
        font-size: 12px;
        text-align: center;

        .title { font-weight: bold; }
    }

    &__container {
        position: relative;
    }

    &__link {
        position: absolute;
        top: 0px; left: 0px;
        width: 100%; height: 100%;
        cursor: pointer;

        &.hover-add:hover {
            &:before {
                content: '';
                position: absolute;
                top: 0; bottom: 0;
                left: 0; right: 0;
                background: rgba(255,255,255, 0.7);
            }
            
            &:after {
                content: '\f067';
                font-family: FontAwesome;
                position: absolute;
                top: calc(50% - 60px);
                left: calc(50% - 30px);
                color: $cool-blue;
                font-size: 52px;
                line-height: 60px;
                width: 60px;
                height: 60px;
            }
        }
    }
}