@import '../styles/color.scss';

.imdb-search-table {
    width: 100%;
    margin-top: 32px;

    tr {
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.5);
    }

    th, td {
        padding: 6px;
    }
}