<div class="search-imdb-modal movie-modal" [ngClass]="{ 'show': showImdbSearch }">
    <div class="overlay" (click)="closeModal()"></div>
    <div class="search-imdb-modal__container movie-modal__container">
      <i class="fa fa-close" (click)="closeModal()"></i>
      <div class="movie-modal__title">
        <i class="fa fa-imdb"></i>&nbsp;
        Search Imdb
      </div>
      <div class="movie-modal__content">
        <div class="input-container">
          <input type="text" [formControl]="searchControl" />
          <i class="fa fa-search" aria-hidden="true" *ngIf="!searchControl.value"></i>
          <i class="fa fa-close" aria-hidden="true" *ngIf="searchControl.value" (click)="clearSearch()"></i>
        </div>


        <table class="imdb-search-table" style="width: 100%;" *ngIf="imdbList.length > 0">
          <thead>
            <tr>
              <th>Movie</th>
              <th>Year</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of imdbList">
              <td>{{movie.Title}}</td>
              <td>{{movie.Year}}</td>
              <td>
                <button class="btn btn-primary btn-sm" type="button" (click)="selectMovieToAdd(movie)">Add</button>
              </td>
              <td>
                <a class="btn btn-warning btn-sm" target="_blank" href="https://www.imdb.com/title/{{movie.imdbID}}/">Imdb</a>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>