@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './app/styles/font-awesome/font-awesome.scss';
@import './app/styles/color.scss';

@import './styles/forms';

/* You can add global styles to this file, and also import other style files */

h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600px;
}

.h-space {
    margin: 0 12px;
    width: 0px;
    border-right: 1px solid $dark-grey;
}


// Modal Windows

.overlay {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.7);
}

.movie-modal {
    &__container {
        width: 80%;
        max-width: 800px;
    }


    hr { 
        background-color: $body-color; 
        opacity: 0.3;
        margin: 18px 24px; 
    }

}

.search-imdb-modal {
    &__container {
        padding-bottom: 12px;
    }
}

.search-imdb-modal,
.movie-modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &.show { 
        visibility: visible;
        opacity: 1;

        .movie-modal__container {
            top: 10%;
        }
    }

    &__wrapper {
        display: flex;
    }

    &__container {
        border-radius: 5px;
        background: $modal-bg;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.15s ease-in-out;
        color: $white;
        box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.4);

        i.fa-close {
            color: $divider;
            cursor: pointer;
            position: absolute;
            right: 12px;
            top: 12px;

            &:hover { color: $dark-grey; }
        }
    }

    &__title {
        padding: 12px;
        font-size: 28px;
        line-height: 36px;

        &--year {
            font-size: 14px;
        }
    }

    &__links {
        padding: 0 12px;
        font-size: 22px;

        a { margin-right: 12px; text-decoration: none; }

        .imdb > a { color: $imdb; }
        .web > a { color: $white; }
    }

    &__details {
        padding: 0 12px;
        margin: 12px;

        &--label {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 6px;
            opacity: 0.5;
        }
    }

    &__content {
        flex: 1;
        padding: 12px;
    }

    &__image {
        position: relative;
        width: 300px;
        height: 400px;
        background-size: 65%;
        background-repeat: no-repeat; 
        background-position: center 24px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}