<div class="input-container">
    <input type="text" [formControl]="searchControl" />
    <i class="fa fa-search" aria-hidden="true" *ngIf="!searchControl.value"></i>
    <i class="fa fa-close" aria-hidden="true" *ngIf="searchControl.value" (click)="clearSearch()"></i>
</div>
<span>{{ dataService.totalCount }} movies found</span>